.left{
	background-color: rgb(238,238,238);
	overflow-y: scroll;
	overflow-x: scroll;
}
.search-box{
	width:90%;
	margin: 60px auto 10px auto;
}
.aside-menu{
	padding: 0px 0px 30px 0px;
	list-style: none;
	clear:both;
}
.aside-menu .list-item{
	margin:0px;
	padding: 0px;
}
.aside-menu>.list-item:first-child{
	padding-top: 0px;
	margin-top: 0px;
}
.aside-menu .list-item a{
	margin: 0px;
	width: 100%;
	display: block;
	padding: 6px 25px;
	font-size: 16px;
	color:gray;
}
.aside-menu .list-item a:hover {
	color: #4cae4c;
	font-size: 18px;
}

.aside-menu .list-item-high {
	background-color: #e3e3e3;
}
.aside-menu .list-item-high span{
	font-size:14px;
	color: #f8ac53;
}

.right{
	overflow-x:scroll;
	overflow-y:auto;
	padding-top:60px;
}